body {
    background: black;
}

._height {
    color: white;
    width: auto;
}

._width {
    height: auto;
}

._target {
    height: 70px;
    width: 70px;
    background: red;
    border-radius: 60px 60px 60px 60px;
    box-shadow: 0px 0px 10px red;
}

._row {
    display: flex;
}

._target {
    height: 70px;
    width: 70px;
    background: red;
    border-radius: 60px 60px 60px 60px;
    box-shadow: 0px 0px 10px red;
}

._target:active {
    background: blue;
    box-shadow: 0px 0px 10px blue;
}
